etc/schemas/database.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:extensionBindingPrefixes="xjc" elementFormDefault="qualified">
	<xsd:element name="databaseConnections" type="DatabaseConnections" />
	<xsd:complexType name="DatabaseConnections">
		<xsd:sequence>
			<xsd:element name="definition" type="Definition" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="connection" type="DatabaseConnection" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="filename" type="xsd:string" default="../databases.xml" />
		<xsd:attribute name="resource" type="xsd:string" />
		<xsd:attribute name="project-state" type="ProjectStateType" default="opened" />
	</xsd:complexType>
	<xsd:element name="databaseConnection" type="DatabaseConnection" />
	<xsd:complexType name="DatabaseConnection">
		<xsd:sequence>
			<xsd:element name="ssh" type="SSHConnection" minOccurs="0" maxOccurs="1" />
			<xsd:element name="database-timeout" type="xsd:int" default="0" />
			<xsd:element name="show-errors" type="xsd:boolean" default="true" />
			<xsd:element name="show-drop-errors" type="xsd:boolean" default="true" />
			<xsd:element name="create-database" type="xsd:boolean" default="false" />
			<xsd:element name="auto-commit" type="xsd:boolean" default="true" />
			<xsd:element name="verbose" type="xsd:boolean" default="true" />
			<xsd:element name="number-of-rows-limit" type="xsd:int" default="0" />
			<xsd:element name="cache-timeout" type="xsd:int" default="0" />
			<xsd:element name="connection-kind" type="ConnectionKind" default="TCP" />
			<xsd:element name="database-url" type="xsd:string" />
			<xsd:element name="driver" type="xsd:string" />
			<xsd:element name="username" type="xsd:string" />
			<xsd:element name="password" type="xsd:string" />
			<xsd:element name="model" type="xsd:string" />
			<xsd:element name="jndi-name" type="xsd:string" />
			<xsd:element name="datasource" type="xsd:string" />
			<xsd:element name="datasource-class" type="xsd:string" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="server-filename" type="xsd:string" />
			<xsd:element name="resource-filename" type="xsd:string" />
			<xsd:element name="initial-sql-filename" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="package-name" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="schema-alias" type="Param" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="param" type="Param" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="name-case" type="CaseType" default="normal" />
			<xsd:element name="vendor" type="xsd:string" default="mysql" />
			<xsd:element name="pool-validation-query" type="xsd:string" default="select 1" />
			<xsd:element name="pool-max-total" type="xsd:int" default="8" />
			<xsd:element name="pool-max-idle" type="xsd:int" default="8" />
			<xsd:element name="pool-min-idle" type="xsd:int" default="0" />
			<xsd:element name="pool-max-wait-millis" type="xsd:int" default="-1" />
			<xsd:element name="pool-time-between-eviction-runs-millis" type="xsd:int" default="-1" />
			<xsd:element name="pool-min-evictable-idle-time-millis" type="xsd:int" default="1800000" />
			<xsd:element name="pool-test-while-idle" type="xsd:boolean" default="true" />
			<xsd:element name="pool-test-on-borrow" type="xsd:boolean" default="true" />
			<xsd:element name="pool-remove-abandoned" type="xsd:boolean" default="false" />
			<xsd:element name="pool-remove-abandoned-timeout-seconds" type="xsd:int" default="300" />
			<xsd:element name="pool-log-abandoned" type="xsd:boolean" default="false" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" />
	</xsd:complexType>
	<!-- local host and local port are part of the jdc url -->
	<xsd:complexType name="SSHConnection">
		<xsd:sequence>
			<xsd:element name="ssh-username" type="xsd:string" />
			<xsd:element name="ssh-password" type="xsd:string" />
			<xsd:element name="ssh-host" type="xsd:string" />
			<xsd:element name="ssh-port" type="xsd:int" />
			<xsd:element name="remote-host" type="xsd:string" />
			<xsd:element name="remote-port" type="xsd:int" />
			<xsd:element name="local-port" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Definition">
		<xsd:sequence>
			<xsd:element name="database" type="Database" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="filename" type="xsd:string" use="required" />
	</xsd:complexType>
	<xsd:simpleType name="ProjectStateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="opened" />
			<xsd:enumeration value="closed" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- The <databases> tag will define a databases -->
	<xsd:element name="databases" type="Databases" />
	<xsd:complexType name="Databases">
		<xsd:sequence>
			<xsd:element name="database" type="Database" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="user" type="User" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="privilege" type="Privilege" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- The <database> tag will define a database, this usually indicates -->
	<xsd:element name="database" type="Database" />
	<xsd:complexType name="Database">
		<xsd:sequence>
			<xsd:element name="table" type="Table" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="procedure" type="Procedure" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="trigger" type="Trigger" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="catalog" type="xsd:string" />
		<xsd:attribute name="charset-name" type="xsd:string" />
		<xsd:attribute name="collation-name" type="xsd:string" />
		<xsd:attribute name="default-base-class" type="xsd:string" />
		<xsd:attribute name="default-java-naming-method" type="JavaNamingMethodType" default="javaname" />
		<xsd:attribute name="filename" type="xsd:string" />
		<xsd:attribute name="package-name" type="xsd:string" />
		<xsd:attribute name="version" type="xsd:string" />
	</xsd:complexType>
	<!-- The <table> tag defines a table within the database. -->
	<!-- -->
	<!-- *) name - the name of the table, in terms of the database. -->
	<xsd:element name="table" type="Table" />
	<xsd:complexType name="Table">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			<![CDATA[ 
			The table element contains all the specifications for the mapping of a database table.
	        As well as, data for dispay/formatting/validating the table data in a UI.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="import-table" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="foreign-key" type="ForeignKey" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:property name="foreignKeys" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="validator" type="xsd:string" />
			<xsd:element name="converter" type="xsd:string" />
			<xsd:element name="sql-generator" type="xsd:string" />
			<xsd:element name="bean-generator" type="xsd:string" />
			<xsd:element name="filter" type="xsd:string" />
			<xsd:element name="seed-filename" type="xsd:string" />
			<xsd:element name="index" type="Index" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="sql-select" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="sql-update" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="sql-insert" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="sql-delete" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="sql-size" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="query-class-name" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="param" type="Param" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="row" type="Row" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
            <![CDATA[ 
           This the name of the table, it is used as the java class name of the bean representimg the table, and is by
           default the database name of the table, which  can be specified elsewhere.
           This name must conform to Java naming conventions for Java class names.
            ]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="table-name" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
            <![CDATA[ 
            The actual database table name, if the <i>name</i> matches the database table name then this value is not  necessary.
            This value is only required the name of the table, the java class name deviates from the database table name.
            For MySql linux, by default the table name is case sensitive, in general however, the table names are case insensitive.
            ]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="java-name" type="xsd:string" />
		<xsd:attribute name="database-name" type="xsd:string" />
		<xsd:attribute name="table-type" type="TableType" default="table" />
		<xsd:attribute name="base-class" type="xsd:string" />
		<xsd:attribute name="charset-name" type="xsd:string" />
		<xsd:attribute name="collation-name" type="xsd:string" />
		<xsd:attribute name="data-directory" type="xsd:string" />
		<xsd:attribute name="description" type="xsd:string" />
		<xsd:attribute name="delay-key-write" type="xsd:boolean" default="false" />
		<xsd:attribute name="engine" type="EngineType" />
		<xsd:attribute name="has-checksum" type="xsd:boolean" default="false" />
		<xsd:attribute name="index-directory" type="xsd:string" />
		<xsd:attribute name="interface" type="xsd:string" />
		<xsd:attribute name="is-schema-updatable" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-rest-service" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-report-table" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-abstract" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-default" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-final" type="xsd:boolean" default="true" />
		<xsd:attribute name="is-large-table" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-monitor-changes" type="xsd:boolean" default="false" />
		<xsd:attribute name="fields-all-nullable" type="xsd:boolean" default="false" />
		<xsd:attribute name="maximum-rows" type="xsd:int" />
		<xsd:attribute name="minimum-rows" type="xsd:int" />
		<xsd:attribute name="pack-keys" type="PackKeysType" />
		<xsd:attribute name="password" type="xsd:string" />
		<xsd:attribute name="raid-type" type="RaidType" />
		<xsd:attribute name="raid-chunks" type="xsd:string" />
		<xsd:attribute name="raid-chunk-size" type="xsd:int" />
		<xsd:attribute name="row-format" type="RowFormatType" />
		<xsd:attribute name="skip-sql" type="xsd:boolean" default="false" />
		<xsd:attribute name="union" type="xsd:string" />
		<xsd:attribute name="iterations" type="xsd:int" default="0" />
	</xsd:complexType>
	<!-- The <column> tag defines a column within the database. -->
	<!-- -->
	<!-- *) name - the database name of the column -->
	<!-- *) autoIncrement - auto increment this column -->
	<!-- *) catalog - this value is used for auto-value generation for -->
	<!-- testing purposes -->
	<!-- *) decimal-size - the number of digits to the right -->
	<!-- for types as float and double. -->
	<!-- *) default - the default value of the column -->
	<!-- *) description - textual description of this column, -->
	<!-- usually can be added to the database. -->
	<!-- *) inheritance - -->
	<!-- *) validator - classname for validating the input -->
	<!-- fields. -->
	<!-- *) javaName - the name of the column in terms of the java bean, -->
	<!-- if not specified then a java name will be generated via the -->
	<!-- java-naming-method. -->
	<!-- *) javaType - the type name of the column in the java beans, if -->
	<!-- none specified, the type attribute is converted to meaningful -->
	<!-- java type. -->
	<!-- *) javaNamingMethod - see Database javaNamingMethod. -->
	<!-- *) primaryKey - if true, this column is a primary key. -->
	<!-- *) required - if true, this column is required to have a value. -->
	<!-- The value of required would be the opposite of the value isNullable -->
	<!-- for some databases. -->
	<!-- *) type - the database type name to be used for this column. -->
	<xsd:complexType name="Column">
		<xsd:sequence>
			<xsd:element name="enum-value" type="EnumItem" minOccurs="0" maxOccurs="unbounded" />
			<!-- UI Modeling -->
			<xsd:element name="validator" type="xsd:string" />
			<xsd:element name="converter" type="xsd:string" />
			<xsd:element name="renderer" type="xsd:string" />
			<xsd:element name="action" type="xsd:string" />
			<xsd:element name="minimum-value" type="xsd:string" />
			<xsd:element name="maximum-value" type="xsd:string" />
			<xsd:element name="options" type="xsd:string" />
			<xsd:element name="component-type" type="xsd:string" />
			<xsd:element name="values-classname" type="xsd:string" />
			<xsd:element name="validation-message" type="xsd:string" />
			<xsd:element name="tooltip-message" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="table-name" type="xsd:string" />
		<xsd:attribute name="database-name" type="xsd:string" />
		<xsd:attribute name="description" type="xsd:string" />
		<xsd:attribute name="index-name" type="xsd:string" />
		<xsd:attribute name="id-method" type="IdMethodType" default="none" />
		<xsd:attribute name="java-type" type="xsd:string" />
		<xsd:attribute name="field" type="xsd:string" />
		<xsd:attribute name="generic-type" type="xsd:string" />
		<xsd:attribute name="logical-type" type="xsd:string" />
		<xsd:attribute name="data-type" type="xsd:string" />
		<xsd:attribute name="extra-data-type" type="xsd:string" />
		<xsd:attribute name="decimal-size" type="xsd:int" default="0" />
		<xsd:attribute name="default-value" type="xsd:string" />
		<xsd:attribute name="size" type="xsd:long" default="0" />
		<xsd:attribute name="order" type="xsd:int" default="1" />
		<xsd:attribute name="columnVisibility" type="ColumnVisibilityType" default="default" />
		<xsd:attribute name="pattern" type="xsd:string" />
		<!-- Flags -->
		<xsd:attribute name="natural-key" type="xsd:boolean" default="false" />
		<xsd:attribute name="primary-key" type="xsd:boolean" default="false" />
		<xsd:attribute name="persistent" type="xsd:boolean" default="true" />
		<xsd:attribute name="optional" type="xsd:boolean" default="false" />
		<xsd:attribute name="required" type="xsd:boolean" default="false" />
		<xsd:attribute name="secure" type="xsd:boolean" default="false" />
		<xsd:attribute name="unique" type="xsd:boolean" default="false" />
		<xsd:attribute name="unsigned" type="xsd:boolean" default="false" />
		<xsd:attribute name="zero-fill" type="xsd:boolean" default="false" />
		<xsd:attribute name="binary" type="xsd:boolean" default="false" />
		<xsd:attribute name="ascii" type="xsd:boolean" default="false" />
		<xsd:attribute name="unicode" type="xsd:boolean" default="false" />
		<xsd:attribute name="is-nullable" type="xsd:boolean" default="false" />
	</xsd:complexType>
	<!-- The <databases> tag will define a databases -->
	<xsd:complexType name="Privileges">
		<xsd:sequence>
			<xsd:element name="privilege" type="Privilege" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<xsd:complexType name="Privilege">
		<xsd:attribute name="grantor" type="xsd:string" />
		<xsd:attribute name="grantee" type="xsd:string" use="required" />
		<xsd:attribute name="privilege" type="xsd:string" use="required" />
		<xsd:attribute name="is-grantable" type="xsd:boolean" default="false" />
	</xsd:complexType>
	<!-- -->
	<xsd:element name="user" type="User" />
	<xsd:complexType name="User">
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="password" type="xsd:string" use="required" />
		<xsd:attribute name="host" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="DashboardType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BAR_CHART" />
			<xsd:enumeration value="BUBBLE_CHART" />
			<xsd:enumeration value="CANDLESTICK_CHART" />
			<xsd:enumeration value="DATE_CHART" />
			<xsd:enumeration value="DONUT_CHART" />
			<xsd:enumeration value="GAUGE_CHART" />
			<xsd:enumeration value="LINE_CHART" />
			<xsd:enumeration value="OHLC_CHART" />
			<xsd:enumeration value="PIE_CHART" />
			<xsd:enumeration value="TEXT" />
			<xsd:enumeration value="TABLE" />
			<xsd:enumeration value="MAP" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Rows">
		<xsd:sequence>
			<xsd:element name="row" type="Row" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Row">
		<xsd:sequence>
			<xsd:element name="cell" type="Cell" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Cell">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The cell element represents a value with in a table cell. Since this is XML the representation of the data
				must be in string
				format. Each cell has:
				<ol>
					<li>A name, the same as the columns name</li>
					<li>And withion the cell element is the value of the cell in string format</li>
				</ol>
				The cell elements attach to a table are useful, for initial loading of data into the table.
				<p>
					An example of a cell with a table element.
					<pre>
          <![CDATA[
<table name='states' table-type='table' is-rest-service="true">
	<column name='id' java-type='int' id-method="assigned" required='true' primary-key='true' />
	<column name='state' java-type='String' size='50' required='true' />
	<column name='code' java-type='String' size='2' required='true' />
	<row>
		<cell name="id">1</cell>
		<cell name="state">ALABAMA</cell>
		<cell name="code">AL</cell>
	</row>
	<row>
		<cell name="id">2</cell>
		<cell name="state">ALASKA</cell>
		<cell name="code">AK</cell>
	</row>
	...
	<row>
		<cell name="id">50</cell>
		<cell name="state">WYOMING</cell>
		<cell name="code">WY</cell>
	</row>
</table>
			]]>
					</pre>
				</p>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:anySimpleType">
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="type" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Param">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ColumnParam">
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="orderBy" type="SortType" use="required" />
		<xsd:attribute name="aggregation" type="AggregationType" use="required" />
		<xsd:attribute name="groupBy" type="xsd:boolean" use="required" />
		<xsd:attribute name="visible" type="xsd:boolean" use="required" />
		<xsd:attribute name="columnOrder" type="xsd:int" use="required" />
	</xsd:complexType>
	<xsd:complexType name="LimitParam">
		<xsd:attribute name="pageno" type="xsd:int" use="required" />
		<xsd:attribute name="pagesize" type="xsd:int" use="required" />
	</xsd:complexType>
	<xsd:simpleType name="EngineType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="default" />
			<xsd:enumeration value="bdb" />
			<xsd:enumeration value="heap" />
			<xsd:enumeration value="isam" />
			<xsd:enumeration value="innodb" />
			<xsd:enumeration value="merge" />
			<xsd:enumeration value="mrg_myisam" />
			<xsd:enumeration value="myisam" />
			<xsd:enumeration value="memory" />
			<xsd:enumeration value="blackhole" />
			<xsd:enumeration value="csv" />
			<xsd:enumeration value="archive" />
			<xsd:enumeration value="performance_schema" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InsertMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="no" />
			<xsd:enumeration value="first" />
			<xsd:enumeration value="last" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PackKeysType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" />
			<xsd:enumeration value="1" />
			<xsd:enumeration value="default" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RaidType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1" />
			<xsd:enumeration value="striped" />
			<xsd:enumeration value="raid0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RowFormatType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="default" />
			<xsd:enumeration value="dynamic" />
			<xsd:enumeration value="fixed" />
			<xsd:enumeration value="compressed" />
			<xsd:enumeration value="redundant" />
			<xsd:enumeration value="compact" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TableType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="table" />
			<xsd:enumeration value="local-temporary" />
			<xsd:enumeration value="bean" />
			<xsd:enumeration value="view" />
			<xsd:enumeration value="viewapp" />
			<xsd:enumeration value="system-table" />
			<xsd:enumeration value="system-view" />
			<xsd:enumeration value="global-temporary" />
			<xsd:enumeration value="alias" />
			<xsd:enumeration value="synonym" />
			<xsd:enumeration value="data" />
			<xsd:enumeration value="base-table" />
			<xsd:enumeration value="crud-bean" />
			<xsd:enumeration value="interface" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<xsd:element name="procedure" type="Procedure" />
	<xsd:complexType name="Procedure">
		<xsd:sequence>
			<xsd:element name="source" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="column" type="Column" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="database-name" type="xsd:string" />
		<xsd:attribute name="filename" type="xsd:string" />
		<xsd:attribute name="sql-characteristics" type="xsd:string" />
		<xsd:attribute name="sql-security" type="xsd:string" />
		<xsd:attribute name="description" type="xsd:string" />
		<xsd:attribute name="vendor" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="InheritanceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="false" />
			<xsd:enumeration value="single" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SortType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none" />
			<xsd:enumeration value="ascend" />
			<xsd:enumeration value="descend" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AggregationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none" />
			<xsd:enumeration value="sum" />
			<xsd:enumeration value="count" />
			<xsd:enumeration value="min" />
			<xsd:enumeration value="max" />
			<xsd:enumeration value="average" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UpdateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cascade" />
			<xsd:enumeration value="setnull" />
			<xsd:enumeration value="restrict" />
			<xsd:enumeration value="none" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ForeignKey">
		<xsd:sequence>
			<xsd:element name="foreign-key-reference" type="ForeignKeyReference" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="local-database" type="xsd:string" />
		<xsd:attribute name="local-table" type="xsd:string" use="required" />
		<xsd:attribute name="foreign-database" type="xsd:string" />
		<xsd:attribute name="foreign-table" type="xsd:string" use="required" />
		<xsd:attribute name="constraint-name" type="xsd:string" />
		<xsd:attribute name="unique" type="xsd:boolean" default="false" />
		<xsd:attribute name="deferrability" type="xsd:string" />
		<xsd:attribute name="on-update" type="UpdateType" />
		<xsd:attribute name="on-delete" type="UpdateType" />
	</xsd:complexType>
	<!-- -->
	<xsd:complexType name="ForeignKeyReference">
		<xsd:attribute name="local-column" type="xsd:string" use="required" />
		<xsd:attribute name="foreign-column" type="xsd:string" use="required" />
		<xsd:attribute name="sequence-number" type="xsd:int" />
	</xsd:complexType>
	<!-- -->
	<xsd:complexType name="Index">
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="table-name" type="xsd:string" />
		<xsd:attribute name="database-name" type="xsd:string" />
		<xsd:attribute name="column-name" type="xsd:string" />
		<xsd:attribute name="index-class" type="IndexClassType" default="default" />
		<xsd:attribute name="index-type" type="IndexType" default="default" />
		<xsd:attribute name="editable" type="xsd:boolean" default="true" />
		<xsd:attribute name="primary" type="xsd:boolean" default="false" />
		<xsd:attribute name="description" type="xsd:string" />
	</xsd:complexType>
	<xsd:simpleType name="IndexClassType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="unique" />
			<xsd:enumeration value="fulltext" />
			<xsd:enumeration value="spatial" />
			<xsd:enumeration value="default" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IndexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="btree" />
			<xsd:enumeration value="hash" />
			<xsd:enumeration value="default" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<xsd:complexType name="Trigger">
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="table-name" type="xsd:string" />
		<xsd:attribute name="database-name" type="xsd:string" />
		<xsd:attribute name="username" type="xsd:string" />
		<xsd:attribute name="time" type="TimeType" />
		<xsd:attribute name="event" type="EventType" />
		<xsd:attribute name="statement" type="xsd:string" />
		<xsd:attribute name="drop-if-exists" type="xsd:boolean" default="false" />
	</xsd:complexType>
	<!-- -->
	<xsd:simpleType name="TimeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="before" />
			<xsd:enumeration value="after" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<xsd:simpleType name="ConnectionKind">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TCP" />
			<xsd:enumeration value="Named Pipe" />
			<xsd:enumeration value="Memory" />
			<xsd:enumeration value="SSL" />
			<xsd:enumeration value="SSH" />
			<xsd:enumeration value="HTTP Proxy" />
			<xsd:enumeration value="HTTP Tunnel" />
			<xsd:enumeration value="Data Source" />
			<xsd:enumeration value="Resource Ref" />
			<xsd:enumeration value="JDBC Connection Pool" />
			<xsd:enumeration value="JDBC Resource" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<xsd:simpleType name="EventType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="update" />
			<xsd:enumeration value="delete" />
			<xsd:enumeration value="insert" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataScope">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SCHEMA" />
			<xsd:enumeration value="DATA" />
			<xsd:enumeration value="ALL" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FileFormat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SQL" />
			<xsd:enumeration value="XML" />
			<xsd:enumeration value="CSV" />
			<xsd:enumeration value="TEXT" />
			<xsd:enumeration value="HTML" />
			<xsd:enumeration value="EXCEL" />
			<xsd:enumeration value="META" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="idbroker" />
			<xsd:enumeration value="native" />
			<xsd:enumeration value="autoincrement" />
			<xsd:enumeration value="sequence" />
			<xsd:enumeration value="assigned" />
			<xsd:enumeration value="none" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JavaNamingMethodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="nochange" />
			<xsd:enumeration value="underscore" />
			<xsd:enumeration value="javaname" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MetaFormatType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="simple-format" />
			<xsd:enumeration value="complete-format" />
			<xsd:enumeration value="reduced-format" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CaseType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="normal" />
			<xsd:enumeration value="upper" />
			<xsd:enumeration value="lower" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ColumnVisibilityType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="default" />
			<xsd:enumeration value="required" />
			<xsd:enumeration value="optional" />
			<xsd:enumeration value="hidden" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TransactionIsolationLevels">
		<xsd:sequence>
			<xsd:element name="TransactionSerializable" type="xsd:boolean" default="true" />
			<xsd:element name="TransactionRepeatableRead" type="xsd:boolean" default="true" />
			<xsd:element name="TransactionReadCommitted" type="xsd:boolean" default="true" />
			<xsd:element name="TransactionReadUncommitted" type="xsd:boolean" default="true" />
			<xsd:element name="TransactionNone" type="xsd:boolean" default="false" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultSetType">
		<xsd:sequence>
			<xsd:element name="ForwardOnly" type="xsd:boolean" default="false" />
			<xsd:element name="ScrollInsensitive" type="xsd:boolean" default="true" />
			<xsd:element name="ScrollSensitive" type="xsd:boolean" default="false" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<xsd:complexType name="EnumList">
		<xsd:sequence>
			<xsd:element name="enum-values" type="EnumItem" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<xsd:complexType name="EnumItem">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>